/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .container-hero,
  .container {
    max-width: 110rem;
  }
  .main-nav {
    max-width: 110rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .container {
    max-width: 100rem;
  }
  .header-mian {
    font-size: 5.2rem;
  }
  .cont-img img {
    width: 52rem;
    height: 51rem;
  }
  .text-re {
    font-size: 2rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .hero {
    display: grid;
    gap: 8.2rem;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 9.6rem 0 0 9.6rem;
    margin: 0 auto;
    justify-items: center;
  }
  .container {
    max-width: 85rem;
  }

  .header-mian {
    text-align: center;
    font-size: 9.2rem;
    width: 75rem;
  }
  .hero-text {
    font-size: 4rem;
  }
  #mail {
    padding: 3rem 32rem 3rem 8rem;
    font-size: 2.8rem;
  }
  .email-icon {
    left: 2%;
    top: 27%;
    font-size: 3rem;
  }
  .feed-back-imgs img {
    width: 8.8rem;
    height: 8.8rem;
  }
  .feed-box span {
    font-size: 4.4rem;
  }
  .feed-back-text {
    font-size: 2.6rem;
  }
  .hero-img {
    text-align: end;
  }
  .send-icon {
    font-size: 3.6rem;
  }
  .hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-img img {
    width: 80%;
    height: unset;
  }
  .Wherever-content.grid.grid--2-cols {
    gap: 3.2rem;
  }
  .counters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 6rem;
    justify-items: center;
  }
  .imges {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .watch-icon {
    display: none;
  }
  .watch-text {
    grid-row: 2;
  }

  .pricing-content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .plan {
    width: 60%;
  }
  .main-review {
    padding: 8.8rem;
  }
  .footer-div1 {
    gap: 4rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 999;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1.6rem;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 200;
  }

  .closeOutline {
    display: none;
  }

  .nav-open .closeOutline {
    display: block;
    z-index: 250;
  }

  .nav-open .menuOutline {
    display: none;
  }

  .main-nav-list li {
    margin-bottom: 1.6rem;
    font-size: 3.6rem;
  }
  .boxs {
    grid-template-columns: repeat(2, 1fr);
  }
  .marketing {
    grid-template-columns: 1fr;
    height: unset;
  }
  .mark-text {
    grid-row: 1;
  }
  .mark-img {
    justify-self: center;
  }
  .Wherever-content.grid.grid--2-cols {
    grid-template-columns: 1fr;
  }
  .cont-img {
    justify-self: center;
  }
  .content-btn {
    width: 25rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .container-hero,
  .container {
    max-width: 60rem;
  }
  .header-mian {
    font-size: 6.2rem;
    text-align: center;
    width: 52rem;
  }
  #mail {
    padding: 2rem 15rem 2rem 5rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 33%;
  }
  .header {
    padding: 1.2rem 3.6rem;
  }
  .hero-text {
    font-size: 3rem;
  }

  .hero {
    padding: 9.6rem 0 0 0;
    gap: 0;
  }
  .header-mian {
    font-size: 4.2rem;
    text-align: start;
  }
  #mail {
    padding: 2rem 15rem 2rem 5rem;
  }
  .container {
    max-width: 54rem;
  }
  .hero-img {
    text-align: end;
    width: 100%;
  }
  .hero-img img {
    width: 40%;
  }
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
  .email-icon {
    top: 20%;
    left: -2%;
  }
  .hero-text-box {
    gap: 2rem;
  }
  .feed-back-text {
    font-size: 2rem;
  }
  h2#Service {
    text-align: center;
  }
  .box-head {
    flex-direction: column;
  }
  .box {
    text-align: center;
  }
  p.fantastic-text {
    font-size: 1.8rem;
  }
  .futser {
    flex-direction: column;
    gap: 2rem;
  }
  .hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 87%;
  }
  .mark-img img {
    display: none;
  }
  .cetar {
    text-align: center;
  }
  .counters {
    grid-template-columns: 1fr;
  }
  .counter {
    width: 48.2rem;
    height: 25.2rem;
  }
  .rel {
    position: relative;
  }
  .video {
    top: 50%;
    transform: translate(50%, -50%);
    right: 50%;
  }
  .plan {
    width: 100%;
  }
  .plan button {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .content-btn {
    width: 31rem;
  }
  .main-review {
    grid-template-columns: 1fr;
    height: unset;
  }
  .star {
    width: 3rem;
    height: 3rem;
  }
  .text-re {
    font-size: 2.2rem;
  }
  .img-review p {
    font-size: 2.2rem;
  }
  .sponsersDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.8rem;
  }
  .sponsersIcon {
    width: 16.5rem;
    height: 15rem;
  }
  .footer-div1 {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
  .flex-colume {
    align-items: center;
  }
  .part-info ul {
    align-items: center;
  }
  .footer-div2 {
    align-items: center;
    gap: 3.2rem;
    flex-direction: column;
  }
  .feed-back-imgs img {
    width: 6.8rem;
    height: 6.8rem;
  }
  .sponsersDiv2 .sponsersIcon:last-child {
    grid-column-start: 2;
  }
  .download-btn {
    left: 62%;
  }
  .content-test {
    justify-content: center;
  }
  .text-review {
    text-align: center;
}
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**************************/
/* Fixing Safari flexbox gap */
/**************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
